In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/content/Healthcare_dataset csv.csv')

In [3]:
df.shape

(3424, 69)

In [4]:
df.sample(5)

,Ptid,Persistency_Flag,Gender,Race,Ethnicity,Region,Age_Bucket,Ntm_Speciality,Ntm_Specialist_Flag,Ntm_Speciality_Bucket,...,Risk_Family_History_Of_Osteoporosis,Risk_Low_Calcium_Intake,Risk_Vitamin_D_Insufficiency,Risk_Poor_Health_Frailty,Risk_Excessive_Thinness,Risk_Hysterectomy_Oophorectomy,Risk_Estrogen_Deficiency,Risk_Immobilization,Risk_Recurring_Falls,Count_Of_Risks
2816,P2817,Persistent,Female,Caucasian,Not Hispanic,West,55-65,RHEUMATOLOGY,Specialist,Rheum,...,N,N,N,N,N,N,N,N,N,2
2447,P2448,Persistent,Female,Caucasian,Not Hispanic,Midwest,65-75,ENDOCRINOLOGY,Specialist,Endo/Onc/Uro,...,N,N,Y,N,N,N,N,N,N,3
1331,P1332,Persistent,Female,Caucasian,Not Hispanic,South,65-75,GENERAL PRACTITIONER,Others,OB/GYN/Others/PCP/Unknown,...,N,N,Y,N,N,N,N,N,N,1
2157,P2158,Persistent,Female,Caucasian,Not Hispanic,West,>75,GENERAL PRACTITIONER,Others,OB/GYN/Others/PCP/Unknown,...,N,N,N,N,N,N,N,N,N,0
2926,P2927,Non-Persistent,Female,Caucasian,Not Hispanic,Midwest,55-65,RHEUMATOLOGY,Specialist,Rheum,...,N,N,Y,Y,N,N,N,N,N,4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424 entries, 0 to 3423
Data columns (total 69 columns):
 #   Column                                                              Non-Null Count  Dtype
---  ------                                                              --------------  -----
 0   Ptid                                                                3424 non-null   object
 1   Persistency_Flag                                                    3424 non-null   object
 2   Gender                                                              3424 non-null   object
 3   Race                                                                3424 non-null   object
 4   Ethnicity                                                           3424 non-null   object
 5   Region                                                              3424 non-null   object
 6   Age_Bucket                                                          3424 non-null   object
 7   Ntm_Speciality                                                      3424 non-null   object
 8   Ntm_Specialist_Flag                                                 3424 non-null   object
 9   Ntm_Speciality_Bucket                                               3424 non-null   object
 10  Gluco_Record_Prior_Ntm                                              3424 non-null   object
 11  Gluco_Record_During_Rx                                              3424 non-null   object
 12  Dexa_Freq_During_Rx                                                 3424 non-null   int64
 13  Dexa_During_Rx                                                      3424 non-null   object
 14  Frag_Frac_Prior_Ntm                                                 3424 non-null   object
 15  Frag_Frac_During_Rx                                                 3424 non-null   object
 16  Risk_Segment_Prior_Ntm                                              3424 non-null   object
 17  Tscore_Bucket_Prior_Ntm                                             3424 non-null   object
 18  Risk_Segment_During_Rx                                              3424 non-null   object
 19  Tscore_Bucket_During_Rx                                             3424 non-null   object
 20  Change_T_Score                                                      3424 non-null   object
 21  Change_Risk_Segment                                                 3424 non-null   object
 22  Adherent_Flag                                                       3424 non-null   object
 23  Idn_Indicator                                                       3424 non-null   object
 24  Injectable_Experience_During_Rx                                     3424 non-null   object
 25  Comorb_Encounter_For_Screening_For_Malignant_Neoplasms              3424 non-null   object
 26  Comorb_Encounter_For_Immunization                                   3424 non-null   object
 27  Comorb_Encntr_For_General_Exam_W_O_Complaint,_Susp_Or_Reprtd_Dx     3424 non-null   object
 28  Comorb_Vitamin_D_Deficiency                                         3424 non-null   object
 29  Comorb_Other_Joint_Disorder_Not_Elsewhere_Classified                3424 non-null   object
 30  Comorb_Encntr_For_Oth_Sp_Exam_W_O_Complaint_Suspected_Or_Reprtd_Dx  3424 non-null   object
 31  Comorb_Long_Term_Current_Drug_Therapy                               3424 non-null   object
 32  Comorb_Dorsalgia                                                    3424 non-null   object
 33  Comorb_Personal_History_Of_Other_Diseases_And_Conditions            3424 non-null   object
 34  Comorb_Other_Disorders_Of_Bone_Density_And_Structure                3424 non-null   object
 35  Comorb_Disorders_of_lipoprotein_metabolism_and_other_lipidemias     3424 non-null   object
 36  Comorb_Osteoporosis_without_current_pathological_fracture           3424 non-null   object
 37  Comorb_Personal_history_of_malignant_neoplasm                       3424 non-null   object
 38  Comorb_Gastro_esophageal_reflux_disease                             3424 non-null   object
 39  Concom_Cholesterol_And_Triglyceride_Regulating_Preparations         3424 non-null   object
 40  Concom_Narcotics                                                    3424 non-null   object
 41  Concom_Systemic_Corticosteroids_Plain                               3424 non-null   object
 42  Concom_Anti_Depressants_And_Mood_Stabilisers                        3424 non-null   object
 43  Concom_Fluoroquinolones                                             3424 non-null   object
 44  Concom_Cephalosporins                                               3424 non-null   object
 45  Concom_Macrolides_And_Similar_Types                                 3424 non-null   object
 46  Concom_Broad_Spectrum_Penicillins                                   3424 non-null   object
 47  Concom_Anaesthetics_General                                         3424 non-null   object
 48  Concom_Viral_Vaccines                                               3424 non-null   object
 49  Risk_Type_1_Insulin_Dependent_Diabetes                              3424 non-null   object
 50  Risk_Osteogenesis_Imperfecta                                        3424 non-null   object
 51  Risk_Rheumatoid_Arthritis                                           3424 non-null   object
 52  Risk_Untreated_Chronic_Hyperthyroidism                              3424 non-null   object
 53  Risk_Untreated_Chronic_Hypogonadism                                 3424 non-null   object
 54  Risk_Untreated_Early_Menopause                                      3424 non-null   object
 55  Risk_Patient_Parent_Fractured_Their_Hip                             3424 non-null   object
 56  Risk_Smoking_Tobacco                                                3424 non-null   object
 57  Risk_Chronic_Malnutrition_Or_Malabsorption                          3424 non-null   object
 58  Risk_Chronic_Liver_Disease                                          3424 non-null   object
 59  Risk_Family_History_Of_Osteoporosis                                 3424 non-null   object
 60  Risk_Low_Calcium_Intake                                             3424 non-null   object
 61  Risk_Vitamin_D_Insufficiency                                        3424 non-null   object
 62  Risk_Poor_Health_Frailty                                            3424 non-null   object
 63  Risk_Excessive_Thinness                                             3424 non-null   object
 64  Risk_Hysterectomy_Oophorectomy                                      3424 non-null   object
 65  Risk_Estrogen_Deficiency                                            3424 non-null   object
 66  Risk_Immobilization                                                 3424 non-null   object
 67  Risk_Recurring_Falls                                                3424 non-null   object
 68  Count_Of_Risks                                                      3424 non-null   int64
dtypes: int64(2), object(67)
memory usage: 1.8+ MB

In [6]:
df.isnull().sum()

Ptid                              0
Persistency_Flag                  0
Gender                            0
Race                              0
Ethnicity                         0
                                 ..
Risk_Hysterectomy_Oophorectomy    0
Risk_Estrogen_Deficiency          0
Risk_Immobilization               0
Risk_Recurring_Falls              0
Count_Of_Risks                    0
Length: 69, dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Ptid,3424,3424,P1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Persistency_Flag,3424,2,Non-Persistent,2135,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,3424,2,Female,3230,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Race,3424,4,Caucasian,3148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ethnicity,3424,3,Not Hispanic,3235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
Risk_Hysterectomy_Oophorectomy,3424,2,N,3370,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Risk_Estrogen_Deficiency,3424,2,N,3413,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Risk_Immobilization,3424,2,N,3410,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Risk_Recurring_Falls,3424,2,N,3355,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Count_Of_Risks,3424.0,NaN,NaN,NaN,1.239486,1.094914,0.0,0.0,1.0,2.0,7.0

In [9]:
#converting column names into lowercase
df.columns = df.columns.str.lower()

In [10]:
#creating a value counts dictionary
value_counts_dict = {col: df[col].value_counts() for col in df.select_dtypes(include='object').columns}

#Printing value counts for each column
for col, value_counts in value_counts_dict.items():
  print("Value counts for column", col, ":")
  print(value_counts)
  print("*" * 50)

Value counts for column ptid :
ptid
P1       1
P2275    1
P2277    1
P2278    1
P2279    1
        ..
P1145    1
P1146    1
P1147    1
P1148    1
P3424    1
Name: count, Length: 3424, dtype: int64
**************************************************
Value counts for column persistency_flag :
persistency_flag
Non-Persistent    2135
Persistent        1289
Name: count, dtype: int64
**************************************************
Value counts for column gender :
gender
Female    3230
Male       194
Name: count, dtype: int64
**************************************************
Value counts for column race :
race
Caucasian           3148
Other/Unknown         97
African American      95
Asian                 84
Name: count, dtype: int64
**************************************************
Value counts for column ethnicity :
ethnicity
Not Hispanic    3235
Hispanic          98
Unknown           91
Name: count, dtype: int64
**************************************************
Value counts for column region :
region
Midwest          1383
South            1247
West              502
Northeast         232
Other/Unknown      60
Name: count, dtype: int64
**************************************************
Value counts for column age_bucket :
age_bucket
>75      1439
65-75    1086
55-65     733
<55       166
Name: count, dtype: int64
**************************************************
Value counts for column ntm_speciality :
ntm_speciality
GENERAL PRACTITIONER                                              1535
RHEUMATOLOGY                                                       604
ENDOCRINOLOGY                                                      458
Unknown                                                            310
ONCOLOGY                                                           225
OBSTETRICS AND GYNECOLOGY                                           90
UROLOGY                                                             33
ORTHOPEDIC SURGERY                                                  30
CARDIOLOGY                                                          22
PATHOLOGY                                                           16
HEMATOLOGY & ONCOLOGY                                               14
OTOLARYNGOLOGY                                                      14
PEDIATRICS                                                          13
PHYSICAL MEDICINE AND REHABILITATION                                11
PULMONARY MEDICINE                                                   8
SURGERY AND SURGICAL SPECIALTIES                                     8
PSYCHIATRY AND NEUROLOGY                                             4
NEPHROLOGY                                                           3
ORTHOPEDICS                                                          3
PLASTIC SURGERY                                                      2
VASCULAR SURGERY                                                     2
HOSPICE AND PALLIATIVE MEDICINE                                      2
GERIATRIC MEDICINE                                                   2
GASTROENTEROLOGY                                                     2
TRANSPLANT SURGERY                                                   2
CLINICAL NURSE SPECIALIST                                            1
OCCUPATIONAL MEDICINE                                                1
HOSPITAL MEDICINE                                                    1
OPHTHALMOLOGY                                                        1
PODIATRY                                                             1
EMERGENCY MEDICINE                                                   1
RADIOLOGY                                                            1
OBSTETRICS & OBSTETRICS & GYNECOLOGY & OBSTETRICS & GYNECOLOGY       1
NEUROLOGY                                                            1
PAIN MEDICINE                                                        1
NUCLEAR MEDICINE                                                     1
Name: count, dtype: int64
**************************************************
Value counts for column ntm_specialist_flag :
ntm_specialist_flag
Others        2013
Specialist    1411
Name: count, dtype: int64
**************************************************
Value counts for column ntm_speciality_bucket :
ntm_speciality_bucket
OB/GYN/Others/PCP/Unknown    2104
Endo/Onc/Uro                  716
Rheum                         604
Name: count, dtype: int64
**************************************************
Value counts for column gluco_record_prior_ntm :
gluco_record_prior_ntm
N    2619
Y     805
Name: count, dtype: int64
**************************************************
Value counts for column gluco_record_during_rx :
gluco_record_during_rx
N    2522
Y     902
Name: count, dtype: int64
**************************************************
Value counts for column dexa_during_rx :
dexa_during_rx
N    2488
Y     936
Name: count, dtype: int64
**************************************************
Value counts for column frag_frac_prior_ntm :
frag_frac_prior_ntm
N    2872
Y     552
Name: count, dtype: int64
**************************************************
Value counts for column frag_frac_during_rx :
frag_frac_during_rx
N    3007
Y     417
Name: count, dtype: int64
**************************************************
Value counts for column risk_segment_prior_ntm :
risk_segment_prior_ntm
VLR_LR    1931
HR_VHR    1493
Name: count, dtype: int64
**************************************************
Value counts for column tscore_bucket_prior_ntm :
tscore_bucket_prior_ntm
>-2.5     1951
<=-2.5    1473
Name: count, dtype: int64
**************************************************
Value counts for column risk_segment_during_rx :
risk_segment_during_rx
Unknown    1497
HR_VHR      965
VLR_LR      962
Name: count, dtype: int64
**************************************************
Value counts for column tscore_bucket_during_rx :
tscore_bucket_during_rx
Unknown    1497
<=-2.5     1017
>-2.5       910
Name: count, dtype: int64
**************************************************
Value counts for column change_t_score :
change_t_score
No change    1660
Unknown      1497
Worsened      173
Improved       94
Name: count, dtype: int64
**************************************************
Value counts for column change_risk_segment :
change_risk_segment
Unknown      2229
No change    1052
Worsened      121
Improved       22
Name: count, dtype: int64
**************************************************
Value counts for column adherent_flag :
adherent_flag
Adherent        3251
Non-Adherent     173
Name: count, dtype: int64
**************************************************
Value counts for column idn_indicator :
idn_indicator
Y    2557
N     867
Name: count, dtype: int64
**************************************************
Value counts for column injectable_experience_during_rx :
injectable_experience_during_rx
Y    3056
N     368
Name: count, dtype: int64
**************************************************
Value counts for column comorb_encounter_for_screening_for_malignant_neoplasms :
comorb_encounter_for_screening_for_malignant_neoplasms
N    1891
Y    1533
Name: count, dtype: int64
**************************************************
Value counts for column comorb_encounter_for_immunization :
comorb_encounter_for_immunization
N    1911
Y    1513
Name: count, dtype: int64
**************************************************
Value counts for column comorb_encntr_for_general_exam_w_o_complaint,_susp_or_reprtd_dx :
comorb_encntr_for_general_exam_w_o_complaint,_susp_or_reprtd_dx
N    2072
Y    1352
Name: count, dtype: int64
**************************************************
Value counts for column comorb_vitamin_d_deficiency :
comorb_vitamin_d_deficiency
N    2331
Y    1093
Name: count, dtype: int64
**************************************************
Value counts for column comorb_other_joint_disorder_not_elsewhere_classified :
comorb_other_joint_disorder_not_elsewhere_classified
N    2425
Y     999
Name: count, dtype: int64
**************************************************
Value counts for column comorb_encntr_for_oth_sp_exam_w_o_complaint_suspected_or_reprtd_dx :
comorb_encntr_for_oth_sp_exam_w_o_complaint_suspected_or_reprtd_dx
N    2633
Y     791
Name: count, dtype: int64
**************************************************
Value counts for column comorb_long_term_current_drug_therapy :
comorb_long_term_current_drug_therapy
N    2607
Y     817
Name: count, dtype: int64
**************************************************
Value counts for column comorb_dorsalgia :
comorb_dorsalgia
N    2645
Y     779
Name: count, dtype: int64
**************************************************
Value counts for column comorb_personal_history_of_other_diseases_and_conditions :
comorb_personal_history_of_other_diseases_and_conditions
N    2747
Y     677
Name: count, dtype: int64
**************************************************
Value counts for column comorb_other_disorders_of_bone_density_and_structure :
comorb_other_disorders_of_bone_density_and_structure
N    2906
Y     518
Name: count, dtype: int64
**************************************************
Value counts for column comorb_disorders_of_lipoprotein_metabolism_and_other_lipidemias :
comorb_disorders_of_lipoprotein_metabolism_and_other_lipidemias
Y    1765
N    1659
Name: count, dtype: int64
**************************************************
Value counts for column comorb_osteoporosis_without_current_pathological_fracture :
comorb_osteoporosis_without_current_pathological_fracture
N    2507
Y     917
Name: count, dtype: int64
**************************************************
Value counts for column comorb_personal_history_of_malignant_neoplasm :
comorb_personal_history_of_malignant_neoplasm
N    2775
Y     649
Name: count, dtype: int64
**************************************************
Value counts for column comorb_gastro_esophageal_reflux_disease :
comorb_gastro_esophageal_reflux_disease
N    2794
Y     630
Name: count, dtype: int64
**************************************************
Value counts for column concom_cholesterol_and_triglyceride_regulating_preparations :
concom_cholesterol_and_triglyceride_regulating_preparations
N    2242
Y    1182
Name: count, dtype: int64
**************************************************
Value counts for column concom_narcotics :
concom_narcotics
N    2191
Y    1233
Name: count, dtype: int64
**************************************************
Value counts for column concom_systemic_corticosteroids_plain :
concom_systemic_corticosteroids_plain
N    2451
Y     973
Name: count, dtype: int64
**************************************************
Value counts for column concom_anti_depressants_and_mood_stabilisers :
concom_anti_depressants_and_mood_stabilisers
N    2465
Y     959
Name: count, dtype: int64
**************************************************
Value counts for column concom_fluoroquinolones :
concom_fluoroquinolones
N    2787
Y     637
Name: count, dtype: int64
**************************************************
Value counts for column concom_cephalosporins :
concom_cephalosporins
N    2821
Y     603
Name: count, dtype: int64
**************************************************
Value counts for column concom_macrolides_and_similar_types :
concom_macrolides_and_similar_types
N    2853
Y     571
Name: count, dtype: int64
**************************************************
Value counts for column concom_broad_spectrum_penicillins :
concom_broad_spectrum_penicillins
N    2985
Y     439
Name: count, dtype: int64
**************************************************
Value counts for column concom_anaesthetics_general :
concom_anaesthetics_general
N    2927
Y     497
Name: count, dtype: int64
**************************************************
Value counts for column concom_viral_vaccines :
concom_viral_vaccines
N    3071
Y     353
Name: count, dtype: int64
**************************************************
Value counts for column risk_type_1_insulin_dependent_diabetes :
risk_type_1_insulin_dependent_diabetes
N    3285
Y     139
Name: count, dtype: int64
**************************************************
Value counts for column risk_osteogenesis_imperfecta :
risk_osteogenesis_imperfecta
N    3421
Y       3
Name: count, dtype: int64
**************************************************
Value counts for column risk_rheumatoid_arthritis :
risk_rheumatoid_arthritis
N    3294
Y     130
Name: count, dtype: int64
**************************************************
Value counts for column risk_untreated_chronic_hyperthyroidism :
risk_untreated_chronic_hyperthyroidism
N    3422
Y       2
Name: count, dtype: int64
**************************************************
Value counts for column risk_untreated_chronic_hypogonadism :
risk_untreated_chronic_hypogonadism
N    3297
Y     127
Name: count, dtype: int64
**************************************************
Value counts for column risk_untreated_early_menopause :
risk_untreated_early_menopause
N    3412
Y      12
Name: count, dtype: int64
**************************************************
Value counts for column risk_patient_parent_fractured_their_hip :
risk_patient_parent_fractured_their_hip
N    3168
Y     256
Name: count, dtype: int64
**************************************************
Value counts for column risk_smoking_tobacco :
risk_smoking_tobacco
N    2780
Y     644
Name: count, dtype: int64
**************************************************
Value counts for column risk_chronic_malnutrition_or_malabsorption :
risk_chronic_malnutrition_or_malabsorption
N    2954
Y     470
Name: count, dtype: int64
**************************************************
Value counts for column risk_chronic_liver_disease :
risk_chronic_liver_disease
N    3406
Y      18
Name: count, dtype: int64
**************************************************
Value counts for column risk_family_history_of_osteoporosis :
risk_family_history_of_osteoporosis
N    3066
Y     358
Name: count, dtype: int64
**************************************************
Value counts for column risk_low_calcium_intake :
risk_low_calcium_intake
N    3382
Y      42
Name: count, dtype: int64
**************************************************
Value counts for column risk_vitamin_d_insufficiency :
risk_vitamin_d_insufficiency
N    1788
Y    1636
Name: count, dtype: int64
**************************************************
Value counts for column risk_poor_health_frailty :
risk_poor_health_frailty
N    3232
Y     192
Name: count, dtype: int64
**************************************************
Value counts for column risk_excessive_thinness :
risk_excessive_thinness
N    3357
Y      67
Name: count, dtype: int64
**************************************************
Value counts for column risk_hysterectomy_oophorectomy :
risk_hysterectomy_oophorectomy
N    3370
Y      54
Name: count, dtype: int64
**************************************************
Value counts for column risk_estrogen_deficiency :
risk_estrogen_deficiency
N    3413
Y      11
Name: count, dtype: int64
**************************************************
Value counts for column risk_immobilization :
risk_immobilization
N    3410
Y      14
Name: count, dtype: int64
**************************************************
Value counts for column risk_recurring_falls :
risk_recurring_falls
N    3355
Y      69
Name: count, dtype: int64
**************************************************

In [11]:
#replacing unknown/other in race with other

df['race'] = df['race'].replace('Other/Unknown', 'Other')

In [12]:
df['race'].value_counts()

race
Caucasian           3148
Other                 97
African American      95
Asian                 84
Name: count, dtype: int64

In [13]:
#replacing unknown region with the mode

region_mode = df['region'].mode()[0]
df['region'] = df['region'].replace('Other/Unknown', region_mode)

In [14]:
df['region'].value_counts()

region
Midwest      1443
South        1247
West          502
Northeast     232
Name: count, dtype: int64

In [15]:
#replacing the unknown ethnicity also with the mode

ethnicity_mode = df['ethnicity'].mode()[0]
df['ethnicity'] = df['ethnicity'].replace('Unknown', ethnicity_mode)

In [16]:
df['ethnicity'].value_counts()

ethnicity
Not Hispanic    3326
Hispanic          98
Name: count, dtype: int64

An entry in ntm_speciality says "OBSTETRICS & OBSTETRICS & GYNECOLOGY & OBSTETRICS & GYNECOLOGY"

This seems to be an error, hence it will be replaced with "OBSTETRICS AND GYNECOLOGY"

In [17]:
df['ntm_speciality'] = df['ntm_speciality'].replace('OBSTETRICS & OBSTETRICS & GYNECOLOGY & OBSTETRICS & GYNECOLOGY', 'OBSTETRICS AND GYNECOLOGY')

In [18]:
df[df['ntm_speciality'] == "OBSTETRICS & OBSTETRICS & GYNECOLOGY & OBSTETRICS & GYNECOLOGY"]

Empty DataFrame
Columns: [ptid, persistency_flag, gender, race, ethnicity, region, age_bucket, ntm_speciality, ntm_specialist_flag, ntm_speciality_bucket, gluco_record_prior_ntm, gluco_record_during_rx, dexa_freq_during_rx, dexa_during_rx, frag_frac_prior_ntm, frag_frac_during_rx, risk_segment_prior_ntm, tscore_bucket_prior_ntm, risk_segment_during_rx, tscore_bucket_during_rx, change_t_score, change_risk_segment, adherent_flag, idn_indicator, injectable_experience_during_rx, comorb_encounter_for_screening_for_malignant_neoplasms, comorb_encounter_for_immunization, comorb_encntr_for_general_exam_w_o_complaint,_susp_or_reprtd_dx, comorb_vitamin_d_deficiency, comorb_other_joint_disorder_not_elsewhere_classified, comorb_encntr_for_oth_sp_exam_w_o_complaint_suspected_or_reprtd_dx, comorb_long_term_current_drug_therapy, comorb_dorsalgia, comorb_personal_history_of_other_diseases_and_conditions, comorb_other_disorders_of_bone_density_and_structure, comorb_disorders_of_lipoprotein_metabolism_and_other_lipidemias, comorb_osteoporosis_without_current_pathological_fracture, comorb_personal_history_of_malignant_neoplasm, comorb_gastro_esophageal_reflux_disease, concom_cholesterol_and_triglyceride_regulating_preparations, concom_narcotics, concom_systemic_corticosteroids_plain, concom_anti_depressants_and_mood_stabilisers, concom_fluoroquinolones, concom_cephalosporins, concom_macrolides_and_similar_types, concom_broad_spectrum_penicillins, concom_anaesthetics_general, concom_viral_vaccines, risk_type_1_insulin_dependent_diabetes, risk_osteogenesis_imperfecta, risk_rheumatoid_arthritis, risk_untreated_chronic_hyperthyroidism, risk_untreated_chronic_hypogonadism, risk_untreated_early_menopause, risk_patient_parent_fractured_their_hip, risk_smoking_tobacco, risk_chronic_malnutrition_or_malabsorption, risk_chronic_liver_disease, risk_family_history_of_osteoporosis, risk_low_calcium_intake, risk_vitamin_d_insufficiency, risk_poor_health_frailty, risk_excessive_thinness, risk_hysterectomy_oophorectomy, risk_estrogen_deficiency, risk_immobilization, risk_recurring_falls, count_of_risks]
Index: []

[0 rows x 69 columns]

In [19]:
#removing the columns with >40% unknown entries
cols_to_drop = ["risk_segment_during_rx",
                "change_risk_segment",
                "tscore_bucket_during_rx",
                "change_t_score"]

df = df.drop(cols_to_drop, axis=1)

In [20]:
df.shape

(3424, 65)

In [21]:
#saving the cleaned dataset

df.to_csv("healthcare_data_cleaned.csv", index=False)